<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Include the existing final launch file -->
  <include file="/home/hoang/DRL-robot-navigation/catkin_ws/src/multi_robot_scenario/launch/rb3.launch" />

  <!-- Static transform publisher for base_link to base_footprint -->
  <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 base_link base_footprint 40" />

  <!-- Use xacro to generate the URDF model and spawn it in Gazebo -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find final)/urdf/my_robot.xacro'" />

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model final" output="screen" />

  <!-- Publish fake joint calibration -->
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic"
        args="pub /calibrated std_msgs/Bool true" />

  <!-- Load the controllers from the YAML file -->
  <rosparam file="$(find final)/config/controller.yaml" command="load" />

<node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" 
        args="hj_position_controller left_wheel_effort_controller right_wheel_effort_controller"/>
        
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
 
 <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="rate" value="100.0" />
    </node>
    
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find final)/rviz/final.rviz" />
</launch>

